@use "common";

.page {
  @include common.page;
  @include common.scrollbar;
}

.title {
  display: flex;
  align-items: center;
  padding: 4px;
  color: var(--adm-color-text-secondary);
  font-size: var(--adm-font-size-5);

  .left {
    display: flex;
    flex: auto;
    align-items: center;
    gap: 4px;

    .avatar {
      --size: 24px;
    }
  }
  .right {
    flex: none;

    .open {
      cursor: pointer;
      font-size: 16px;

      :hover {
        color: var(--adm-color-primary);
      }
    }
  }
}

.bugCard {
  margin-top: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0px;
  width: 100%;

  .bugCardTitle {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    height: 34px;

    color: var(--adm-color-text);
    font-weight: bold;
    font-size: 14px;
  }
}

.bugList {
  padding: 4px;
  height: 340px;
  overflow: auto;
  --adm-font-size-9: 14px;
}
