@use "common";

.page {
  @include common.page;
  @include common.scrollbar;
}

.title {
  display: flex;
  font-size: var(--adm-font-size-5);
  color: var(--adm-color-text-secondary);
  align-items: center;
  padding: 4px;

  .left {
    flex: auto;
    display: flex;
    gap: 4px;
    align-items: center;

    .avatar {
      --size: 24px;
    }
  }
  .right {
    flex: none;

    .open {
      font-size: 16px;
      cursor: pointer;

      :hover {
        color: var(--adm-color-primary);
      }
    }
  }
}

.bugCard {
  width: 100%;

  margin-top: 8px;
  padding: 0px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

  .bugCardTitle {
    height: 34px;
    font-size: 14px;
    font-weight: bold;

    color: var(--adm-color-text);
    padding: 4px 12px;

    display: flex;
    align-items: center;
  }
}

.bugList {
  height: 340px;
  overflow: auto;
  padding: 4px;
  --adm-font-size-9: 14px;
}
