@use "common/common";

.app {
  display: flex;
  flex-direction: column;
  background: rgb(245, 245, 245);
  width: 360px;
  height: 480px;
}

.top {
  flex: none;
  border-bottom: solid 1px var(--adm-color-border);
}

.body {
  @include common.scrollbar-common;

  justify-content: center;
  align-items: center;
  padding: 0px 8px 8px 8px;

  height: 100%;
  overflow: auto;
}

.title {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 8px;
  color: var(--adm-color-text-secondary);
  font-size: var(--adm-font-size-5);

  .left {
    display: flex;
    flex: auto;
    align-items: center;
    gap: 4px;

    .avatar {
      --size: 24px;
    }
  }
  .right {
    flex: none;

    .open {
      cursor: pointer;
      font-size: 16px;

      :hover {
        color: var(--adm-color-primary);
      }
    }
  }
}

.bottom {
  position: sticky;
  bottom: 0;
  border-top: solid 1px var(--adm-color-border);
  height: 49px;
}
