.page {
  border-radius: 8px;
  background-color: white;
}

.bugItem {
  cursor: pointer;
  padding: 8px;
  width: 100%;

  &:hover {
    background-color: #f5f5f5;
  }

  .bugTitle {
    display: flex;
    gap: 4px;

    .bugKey {
      margin-left: 4px;
    }
  }

  .bugContent {
    margin-top: 2px;
  }

  &.isFirst {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  &.isLast {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
